@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-[#111111] font-['Outfit'];
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  @keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }

  .animate-marquee {
    display: inline-block;
    animation: marquee 20s linear infinite;
  }
}
